aiofiles
aiohttp
apscheduler
bing_image_downloader
bs4
deepai
edge-tts
gitpython
gradio_client==2.6.0
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
indic-transliteration
kurigram==2.2.24
motor
nekosbest
numpy
opencv-python
pillow==12.3.0
psutil
ntgcalls==2.2.5
py-tgcalls==2.3.3
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
git+https://github.com/SkyBotsDeveloper/youtube-search-python.git
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
tgcrypto
unidecode
yt-dlp==2026.7.4
